

    .center {
        width: 270px;
        height: 270px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 10px;
        background-color: black;
        border-radius: 60px;
        
        }

        @font-face {
            font-family: sevenSegment;
            src: url(seven_segment/Seven\ Segment.ttf);
        }

        h1 , h3 , span{
            font-family: 'sevenSegment';
        }

        .font{
            font-size: 500%;
        }